body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
.container-timer {
  position: absolute;
  padding-left: 156px;
}

.timer {
  display: flex;
  margin-top: 32px;

  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 24px;

  width: 346px;
  height: 72px;
}

.field {
  display: flex;
  flex-direction: column;
}

.value {
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.label {
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
}

#datetime-picker {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  background-color: #fff;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding-left: 16px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.container-timer button:disabled {
  background-color: #cfcfcf;
  color: #989898;
}

.container-timer button:not(:disabled):hover {
  background: #6c8cff;
}

.container-timer button {
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  width: 75px;
  height: 42px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4e75ff;

  color: #fff;
}
